.middle-show{
  position:relative;
  margin-top:10px;
  &::before{
    position: absolute;
    content:'';
    border:12px solid transparent;
    border-right-color:#ce1313;
    transform:rotateZ(45deg) translateX(-12px);
  }
  .ms{
    padding-left:16px;
    height:55px;
    color:#fff;
    .title{
      float:left;
      font-size:20px;
      line-height:55px;
      .fa{
        margin-right:10px;
        vertical-align: middle;
      }
    }
    .link{
      float:left;
      margin-top:20px;
      margin-left:20px;
      line-height:30px;
      a{
        color:#fff;
      }
    }
  }
  .show{
    height:100px;
    .box{
      float:left;
      position:relative;
      width:960px;
      height:220px;
      overflow:hidden;
      .list{
        position:absolute;
        left:0;
        top:0;
        width:1920px;
        li{
          float:left;
          a{
            float:left;
            padding-top:10px;
            width:240px;
            height:220px;
            text-align:center;
            background:#fff;
            border-right:1px solid #eee;
            .name{
              color:#666;
            }
            .price{
              display:flex;
              justify-content:center;
              margin-top:10px;
              .new{
                width:80px;
                height:26px;
                line-height:26px;
                font-weight:bold;
                color:#fff;
                background-color:#f10215;
              }
              .old{
                width:80px;
                height:26px;
                line-height:24px;
                text-decoration:line-through;
                color:#b7bcb8;
                border:1px solid#f10215;
              }
            }
            &:hover{
              .name{
                color:#f10215;
              }
            }
          }
        }
      }
      .move{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #fff;
        background: rgba(0, 0, 0, .2);
        cursor: pointer;
        &.left {
          left: 0;
        }
        &.right {
          right: 0;
        }
        &:hover {
          background: rgba(0, 0, 0, .8);
        }
      }
    }
    .box2{
      float:right;
      position:relative;
      width:230px;
      height:220px;
      overflow:hidden;
      background:#fff;
      .item{
        position: absolute;
        left:0;
        top:0;
        width:460px;
        height:220px;
        a{
          float:left;
          padding-top:16px;
          width:230px;
          height:220px;
          text-align:center;
          img{
            width:220px;
            height:200px;
          }
        }
      }
    }
  }
}
