.music{
    position: absolute;
    z-index:-1;
    top:0;
    bottom:0;
    width:100%;
    background-color:rgba(0,0,0,.8);
    .music-mask{
        position: fixed;
        z-index:-1;
        top:0;
        bottom:0;
        width:100%;
        background-size:cover;
        opacity:.6;
        filter: blur(30px);
    }
    .music-title{
        margin-top:50px;
        padding:10px 20px;
        overflow:hidden;
        li{
            float:left;
            margin-right:20px;
            a{
                padding:6px 20px;
                line-height:26px;
                font-size:14px;
                color:#fff;
                border:1px solid #eee;
                border-radius:2px;
                &:hover{
                    border:1px solid #fff;
                    box-shadow: 0 0 10px 1px #fff;
                }
            }
        }
    }
    .music-home{
      position: fixed;
      left:0;
      right:400px;
      top:100px;
      bottom:60px;
      padding-left:20px;
      overflow-y:auto;
      &::-webkit-scrollbar {
        width:10px;
        height:10px;
      }
      &::-webkit-scrollbar-button{
        display:none;
      }
      &::-webkit-scrollbar-track {
        background-color:rgba(255,255,255,.2);
        border-radius: 10px;
      }
      &::-webkit-scrollbar-track-piece{
        display: none;
      }
      &::-webkit-scrollbar-thumb {
        background-color:rgba(255,255,255,.6);
        border-radius:4px;
      }
      .music-home-title{
        padding-left:10px;
        font-size:0;
        line-height:40px;
        color:rgba(255,255,255,.8);
        border-top:1px solid #ddd;
        border-bottom:1px solid rgba(255, 255, 255, .4);
        .song{
          display:inline-block;
          width:50%;
          font-size:14px;
        }
        .singer {
          display: inline-block;
          width:30%;
          font-size:14px;

        }
        .time {
          display: inline-block;
          width:20%;
          font-size:14px;
        }
      }
      .music-home-list {
        font-size: 0;
        li{
          position:relative;
          padding-left:10px;
          line-height:40px;
          color: rgba(255, 255, 255, .8);
          border-bottom:1px solid rgba(255,255,255,.4);
          &:hover{
            color:#fff;
          }
          .song {
            display: inline-block;
            width: 50%;
            font-size: 14px;
          }
          .singer {
            display: inline-block;
            width: 30%;
            font-size: 14px;
          }
          .time {
            display: inline-block;
            width: 20%;
            font-size: 14px;
          }
          .fa{
            transition:opacity .2s ease;
            display:none;
            position: absolute;
            left:40%;
            top:6px;
            padding:8px;
            font-size:20px;
            opacity:.8;
            cursor:pointer;
          }
        &:hover{
            .fa{
              display:block;
              &:hover{
                opacity: 1;
              }
            }
          }
        }
      }

    }
    .music-search{
      padding-left:20px;
      .search-info{
          margin-right:20px;
          width: 200px;
          padding:2px 6px;
          font-size: 12px;
          line-height: 24px;
          border-radius: 2px;
      }
      .list{
        position: fixed;
        left:0;
        right:400px;
        top:140px;
        bottom:60px;
        padding-left:20px;
        overflow-y:auto;
        color:#fff;
        &::-webkit-scrollbar {
          width: 10px;
          height: 10px;
        }

        &::-webkit-scrollbar-button {
          display: none;
        }

        &::-webkit-scrollbar-track {
          background-color: rgba(255, 255, 255, .2);
          border-radius: 10px;
        }

        &::-webkit-scrollbar-track-piece {
          display: none;
        }

        &::-webkit-scrollbar-thumb {
          background-color: rgba(255, 255, 255, .6);
          border-radius: 4px;
        }
        .item{
          transition:all .2s ease;
          line-height:36px;
          border-bottom:1px solid rgba(255,255,255,.4);
          cursor:pointer;
          &:hover{
            padding-left:20px;
            background-color:rgba(255,255,255,.2);
          }
          .index{
            display:inline-block;
            margin-right:10px;
          }
        }
      }
    }
    .show-info{
      position: fixed;
      right:0;
      top:50px;
      bottom:60px;
      width:400px;
      .music-img{
        position: absolute;
        left:50%;
        transform: translateX(-50%);
        border-radius:50%;
        img{
          width:160px;
        }
      }
      .music-lyric{
        position: absolute;
        top:180px;
        width:100%;
        bottom:0;
        overflow-y:auto;
      }
    }
    .control-bar{
      position: fixed;
      padding-left:20px;
      bottom:0;
      left:0;
      right:0;
      height:60px;
      background:rgba(0,0,0,.4);
      box-shadow:0 -1px 100px 1px #222;
      .fa{
        margin-right:40px;
        line-height:60px;
        color:#fff;
        cursor:pointer;
      }
      .song-img{
        width:40px;
        border-radius: 50%;
      }
      .song-info{
        font-size:14px;
        color:#fff;
      }
    }
}
