.demo{
    min-width:1190px;
    background-color:#f6f6f6;
}
.out-container{
  .out-routers{
    background-color:rgba(0,0,0,.6);
    li{
      float:left;
      margin-left:20px;
      a{
        padding:6px 2px;
        line-height:40px;
        text-align:center;
        font-size:14px;
        color:#fff;
        &:hover{
          color:#25d916;
        }
      }
      &.router-active{
        a{
          color:#13fc00;
        }
      }
    }
  }
}
.container{
    margin:0 auto;
    width:1190px;
}
