.handle{
    padding:0 20px;
    .avatarImg{
        width:200px;
    }
    .handle-item{
        margin-top:10px;
        h2{
            line-height:40px;
            color:#1E9FFF;
            &:before{
                content:'';
                float:left;
                margin-right:10px;  
                margin-top:11px;    
                width:3px;
                height:20px;
                background-color:#1E9FFF;
            }
        }
        p{
            line-height:30px;
            font-size:14px;
            color:#666;
        }
        .upload-box{
            display:inline-block;
            position: relative;
            cursor:pointer;
            &:hover .btn{
                opacity:.8;
            }
            .upload-btn{
                position: absolute;
                left:0;
                top:0;
                width:100%;
                height:100%;
                opacity:0;
                cursor:pointer;
            }
        }
        .img-preview{
            padding-top:10px;
        }
    }
    .modal-preview{
        display:none;
        position:fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background-color:rgba(0,0,0,.6);
        &.show{
            display:block;
        }
        img{
            position: absolute;
            left:50%;
            top:50%;
            transform: translate(-50%,-50%);
            max-width:80%;  
        }
        .fa{
            transition:all .2s linear;
            position: absolute;
            right:6%;
            top:100px;
            color:#fff;
            font-size:40px;
            cursor:pointer;
            &:hover{
                transform: scale(1.2);
            }
        }
    }
}