.handle{
    padding:0 20px;
    .avatarImg{
        width:200px;
    }
    .handle-item{
        margin-top:10px;
        h2{
            line-height:40px;
            color:#1E9FFF;
            &:before{
                content:'';
                float:left;
                margin-right:10px;  
                margin-top:11px;    
                width:3px;
                height:20px;
                background-color:#1E9FFF;
            }
        }
        p{
            line-height:30px;
            font-size:14px;
            color:#666;
        }
        .upload-box{
            display:inline-block;
            position: relative;
            cursor:pointer;
            &:hover .btn{
                opacity:.8;
            }
            .upload-btn{
                position: absolute;
                left:0;
                top:0;
                width:100%;
                height:100%;
                opacity:0;
                cursor:pointer;
            }
        }
        .img-preview{
            padding-top:10px;
        }
    }
}