.top-banner{
    position: relative;
    z-index:1;
    transition:height .4s ease;
    height:83px;
    text-align:center;
    background-color:#e82c21;
    &.hide{
      height:0;
      opacity:0;
      overflow: hidden;
    }
    .container{
        position: relative;
        .fa{
            position: absolute;
            right:10px;
            top:10px;
            padding:10px;
            color:#fff;
            background-color:rgba(0,0,0,.2);
            cursor: pointer;
        }
    }
}
